<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Cultura</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Noto Sans;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-theme-neutral-dark);
        background-color: var(--dl-color-theme-neutral-light);

        fill: var(--dl-color-theme-neutral-dark);
      }
    </style>
    <link
      rel="stylesheet"
      href="https://unpkg.com/animate.css@4.1.1/animate.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/@teleporthq/teleport-custom-scripts/dist/style.css"
    />
  </head>
  <body>
    <link rel="stylesheet" href="../style.css" />
    <div>
      <link href="./principios.css" rel="stylesheet" />
      <div class="principios-faq8 thq-section-padding">
        <div class="principios-max-width thq-section-max-width">
          <div
            class="thq-section-max-width thq-flex-column principios-container"
          >
            <div class="principios-list">
              <div class="principios-faq1">
                <div class="principios-trigger">
                  <p class="principios-principio thq-body-large">
                    <span>01 Sonhamos</span>
                  </p>
                  <span class="principios-text">grande</span>
                  <div class="principios-icons-container">
                    <div>
                      <svg viewBox="0 0 1024 1024" class="principios-icon">
                        <path
                          d="M213.333 554.667h256v256c0 23.552 19.115 42.667 42.667 42.667s42.667-19.115 42.667-42.667v-256h256c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-256v-256c0-23.552-19.115-42.667-42.667-42.667s-42.667 19.115-42.667 42.667v256h-256c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"
                        ></path>
                      </svg>
                    </div>
                    <div>
                      <svg viewBox="0 0 1024 1024" class="principios-icon02">
                        <path
                          d="M213.333 554.667h597.333c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-597.333c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"
                        ></path>
                      </svg>
                    </div>
                  </div>
                </div>
                <div class="principios-container03">
                  <span class="principios-text01 thq-body-small">
                    <span>
                      Nosso sonho grande nos inspira, impulsiona nossos negócios
                      e nos alinha em torno dos mesmos objetivos e propósito:
                      criar um futuro com mais razões para brindar.
                      Independentemente do seu papel na organização, donos e
                      donas definem, buscam e trabalham juntos para atingir
                      metas ambiciosas. Sonhos grandes exigem muito trabalho,
                      colaboração e paixão. Eles devem ser factíveis para nos
                      comprometermos e torná-los realidade.
                    </span>
                  </span>
                </div>
              </div>
              <div class="principios-faq2">
                <div class="principios-trigger01">
                  <p class="principios-principio01 thq-body-large">
                    <span>02 Focamos</span>
                  </p>
                  <span class="principios-text02">
                    em resultados excepcionais
                  </span>
                  <div class="principios-icons-container01">
                    <div>
                      <svg viewBox="0 0 1024 1024" class="principios-icon04">
                        <path
                          d="M213.333 554.667h256v256c0 23.552 19.115 42.667 42.667 42.667s42.667-19.115 42.667-42.667v-256h256c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-256v-256c0-23.552-19.115-42.667-42.667-42.667s-42.667 19.115-42.667 42.667v256h-256c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"
                        ></path>
                      </svg>
                    </div>
                    <div>
                      <svg viewBox="0 0 1024 1024" class="principios-icon06">
                        <path
                          d="M213.333 554.667h597.333c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-597.333c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"
                        ></path>
                      </svg>
                    </div>
                  </div>
                </div>
                <div class="principios-container06">
                  <span class="principios-text03 thq-body-small">
                    <span>
                      Como donos e donas, reconhecemos que é importante focar.
                      Nosso foco em resultados é o que nos guia a priorizar
                      nosso tempo e energia no que é essencial para o negócio.
                      Donos e donas buscam resultados excepcionais, através da
                      evolução contínua, sempre elevando a barra e brindando as
                      conquistas.
                    </span>
                  </span>
                </div>
              </div>
              <div class="principios-faq3">
                <div class="principios-trigger02">
                  <p class="principios-principio02 thq-body-large">
                    <span>03 Lideramos</span>
                  </p>
                  <span class="principios-text04">
                    pelo exemplo e assumimos responsabilidade
                  </span>
                  <div class="principios-icons-container02">
                    <div>
                      <svg viewBox="0 0 1024 1024" class="principios-icon08">
                        <path
                          d="M213.333 554.667h256v256c0 23.552 19.115 42.667 42.667 42.667s42.667-19.115 42.667-42.667v-256h256c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-256v-256c0-23.552-19.115-42.667-42.667-42.667s-42.667 19.115-42.667 42.667v256h-256c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"
                        ></path>
                      </svg>
                    </div>
                    <div>
                      <svg viewBox="0 0 1024 1024" class="principios-icon10">
                        <path
                          d="M213.333 554.667h597.333c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-597.333c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"
                        ></path>
                      </svg>
                    </div>
                  </div>
                </div>
                <div class="principios-container09">
                  <span class="principios-text05 thq-body-small">
                    <span>
                      Como donos e donas, nossas ações são mais importantes do
                      que nossas palavras. Agimos conforme o nosso discurso,
                      lideramos pelo exemplo, fazemos o que queremos dizer.
                      Assumimos responsabilidade pessoalmente. Numa empresa de
                      donos e donas, não existe dizer: “isso não é problema
                      meu”.
                    </span>
                  </span>
                </div>
              </div>
              <div class="principios-faq4">
                <div class="principios-trigger03">
                  <p class="principios-principio03 thq-body-large">
                    <span>04 Atraímos e desenvolvemos</span>
                  </p>
                  <span class="principios-text06">pessoas excelentes</span>
                  <div class="principios-icons-container03">
                    <div>
                      <svg viewBox="0 0 1024 1024" class="principios-icon12">
                        <path
                          d="M213.333 554.667h256v256c0 23.552 19.115 42.667 42.667 42.667s42.667-19.115 42.667-42.667v-256h256c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-256v-256c0-23.552-19.115-42.667-42.667-42.667s-42.667 19.115-42.667 42.667v256h-256c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"
                        ></path>
                      </svg>
                    </div>
                    <div>
                      <svg viewBox="0 0 1024 1024" class="principios-icon14">
                        <path
                          d="M213.333 554.667h597.333c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-597.333c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"
                        ></path>
                      </svg>
                    </div>
                  </div>
                </div>
                <div class="principios-container12">
                  <span class="principios-text07 thq-body-small">
                    <span>
                      Pessoas excelentes vivem nossos 10 princípios, podem vir
                      de qualquer lugar, com trajetórias e origens diferentes,
                      são apaixonadas, colaborativas e diversas. Como líderes,
                      investimos nosso tempo para atrair, desenvolver e incluir
                      pessoas excelentes, criando oportunidades de crescimento e
                      construindo times de alta performance.
                    </span>
                  </span>
                </div>
              </div>
              <div class="principios-faq5">
                <div class="principios-trigger04">
                  <p class="principios-principio04 thq-body-large">
                    <span>05 Construímos</span>
                  </p>
                  <span class="principios-text08">
                    marcas que os consumidores amam
                  </span>
                  <div class="principios-icons-container04">
                    <div>
                      <svg viewBox="0 0 1024 1024" class="principios-icon16">
                        <path
                          d="M213.333 554.667h256v256c0 23.552 19.115 42.667 42.667 42.667s42.667-19.115 42.667-42.667v-256h256c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-256v-256c0-23.552-19.115-42.667-42.667-42.667s-42.667 19.115-42.667 42.667v256h-256c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"
                        ></path>
                      </svg>
                    </div>
                    <div>
                      <svg viewBox="0 0 1024 1024" class="principios-icon18">
                        <path
                          d="M213.333 554.667h597.333c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-597.333c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"
                        ></path>
                      </svg>
                    </div>
                  </div>
                </div>
                <div class="principios-container15">
                  <span class="principios-text09 thq-body-small">
                    <span>
                      Todos nós temos um papel a desempenhar na construção,
                      crescimento e proteção de marcas que os consumidores amam.
                      Donos e donas mantêm os consumidores no centro de tudo o
                      que fazem, agindo com criatividade e inovação, aprendendo
                      e entendendo sempre quem são e o que valorizam.
                    </span>
                  </span>
                </div>
              </div>
              <div class="principios-faq6">
                <div class="principios-trigger05">
                  <p class="principios-principio05 thq-body-large">
                    <span>06 Crescemos</span>
                  </p>
                  <span class="principios-text10">
                    junto com nossos clientes e com a comunidade.
                  </span>
                  <div class="principios-icons-container05">
                    <div>
                      <svg viewBox="0 0 1024 1024" class="principios-icon20">
                        <path
                          d="M213.333 554.667h256v256c0 23.552 19.115 42.667 42.667 42.667s42.667-19.115 42.667-42.667v-256h256c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-256v-256c0-23.552-19.115-42.667-42.667-42.667s-42.667 19.115-42.667 42.667v256h-256c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"
                        ></path>
                      </svg>
                    </div>
                    <div>
                      <svg viewBox="0 0 1024 1024" class="principios-icon22">
                        <path
                          d="M213.333 554.667h597.333c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-597.333c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"
                        ></path>
                      </svg>
                    </div>
                  </div>
                </div>
                <div class="principios-container18">
                  <span class="principios-text11 thq-body-small">
                    <span>
                      Construímos relacionamentos sólidos com nossos clientes e
                      parceiros, fornecendo a eles produtos, insights e serviços
                      excepcionais. Crescemos quando eles crescem. Como donos e
                      donas, assumimos a responsabilidade de sermos líderes
                      globais. Impactamos positivamente nossas comunidades
                      locais promovendo práticas sustentáveis. Prosperamos
                      quando nossas comunidades prosperam.
                    </span>
                  </span>
                </div>
              </div>
              <div class="principios-faq7">
                <div class="principios-trigger06">
                  <p class="principios-principio06 thq-body-large">
                    <span>07 Priorizamos</span>
                  </p>
                  <span class="principios-text12">
                    soluções simples e escaláveis
                  </span>
                  <div class="principios-icons-container06">
                    <div>
                      <svg viewBox="0 0 1024 1024" class="principios-icon24">
                        <path
                          d="M213.333 554.667h256v256c0 23.552 19.115 42.667 42.667 42.667s42.667-19.115 42.667-42.667v-256h256c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-256v-256c0-23.552-19.115-42.667-42.667-42.667s-42.667 19.115-42.667 42.667v256h-256c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"
                        ></path>
                      </svg>
                    </div>
                    <div>
                      <svg viewBox="0 0 1024 1024" class="principios-icon26">
                        <path
                          d="M213.333 554.667h597.333c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-597.333c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"
                        ></path>
                      </svg>
                    </div>
                  </div>
                </div>
                <div class="principios-container21">
                  <span class="principios-text13 thq-body-small">
                    <span>
                      Donos e donas acreditam que a simplicidade maximiza o
                      potencial de soluções escaláveis. A simplicidade cria
                      clareza, velocidade e consistência na execução. Somos
                      guiados por dados e bom senso para identificar e escalar
                      as melhores práticas. Através de tecnologia, alavancamos
                      nossa plataforma que nos permite executar com excelência.
                    </span>
                  </span>
                </div>
              </div>
              <div class="principios-faq81">
                <div class="principios-trigger07">
                  <p class="principios-principio07 thq-body-large">
                    <span>08 Gerenciamos</span>
                  </p>
                  <span class="principios-text14">custos com disciplina</span>
                  <div class="principios-icons-container07">
                    <div>
                      <svg viewBox="0 0 1024 1024" class="principios-icon28">
                        <path
                          d="M213.333 554.667h256v256c0 23.552 19.115 42.667 42.667 42.667s42.667-19.115 42.667-42.667v-256h256c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-256v-256c0-23.552-19.115-42.667-42.667-42.667s-42.667 19.115-42.667 42.667v256h-256c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"
                        ></path>
                      </svg>
                    </div>
                    <div>
                      <svg viewBox="0 0 1024 1024" class="principios-icon30">
                        <path
                          d="M213.333 554.667h597.333c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-597.333c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"
                        ></path>
                      </svg>
                    </div>
                  </div>
                </div>
                <div class="principios-container24">
                  <span class="principios-text15 thq-body-small">
                    <span>
                      Como donos e donas, sempre avaliamos a real necessidade
                      dos nossos gastos. Frugalidade e disciplina nos nossos
                      custos e recursos nos dá a liberdade de investir mais no
                      que os clientes e consumidores realmente valorizam.
                    </span>
                  </span>
                </div>
              </div>
              <div class="principios-faq9">
                <div class="principios-trigger08">
                  <p class="principios-principio08 thq-body-large">
                    <span>09 Pensamos</span>
                  </p>
                  <span class="principios-text16">a longo prazo</span>
                  <div class="principios-icons-container08">
                    <div>
                      <svg viewBox="0 0 1024 1024" class="principios-icon32">
                        <path
                          d="M213.333 554.667h256v256c0 23.552 19.115 42.667 42.667 42.667s42.667-19.115 42.667-42.667v-256h256c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-256v-256c0-23.552-19.115-42.667-42.667-42.667s-42.667 19.115-42.667 42.667v256h-256c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"
                        ></path>
                      </svg>
                    </div>
                    <div>
                      <svg viewBox="0 0 1024 1024" class="principios-icon34">
                        <path
                          d="M213.333 554.667h597.333c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-597.333c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"
                        ></path>
                      </svg>
                    </div>
                  </div>
                </div>
                <div class="principios-container27">
                  <span class="principios-text17 thq-body-small">
                    <span>
                      Como donos e donas, somos responsáveis pelos impactos de
                      longo prazo das decisões e investimentos que fazemos hoje.
                      Não sacrificamos a criação de valor de longo prazo por
                      resultados de curto prazo.
                    </span>
                  </span>
                </div>
              </div>
              <div class="principios-faq10">
                <div class="principios-trigger09">
                  <p class="principios-principio09 thq-body-large">
                    <span>10 Nunca</span>
                  </p>
                  <span class="principios-text18">pegamos atalhos</span>
                  <div class="principios-icons-container09">
                    <div>
                      <svg viewBox="0 0 1024 1024" class="principios-icon36">
                        <path
                          d="M213.333 554.667h256v256c0 23.552 19.115 42.667 42.667 42.667s42.667-19.115 42.667-42.667v-256h256c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-256v-256c0-23.552-19.115-42.667-42.667-42.667s-42.667 19.115-42.667 42.667v256h-256c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"
                        ></path>
                      </svg>
                    </div>
                    <div>
                      <svg viewBox="0 0 1024 1024" class="principios-icon38">
                        <path
                          d="M213.333 554.667h597.333c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-597.333c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"
                        ></path>
                      </svg>
                    </div>
                  </div>
                </div>
                <div class="principios-container30">
                  <span class="principios-text19 thq-body-small">
                    <span>
                      Donos e donas não pegam atalhos e operam com ética e
                      integridade. A segurança de nossa gente, a qualidade de
                      nossos produtos e nossa reputação nunca podem ser
                      comprometidas. Nada substitui o trabalho duro,
                      consistência e pensamento de longo prazo.
                    </span>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
