.principios-faq8 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  padding-top: var(--dl-space-space-halfunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: flex-start;
}
.principios-max-width {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.principios-list {
  gap: 0.7em;
  flex: 1;
  width: 100%;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.principios-faq1 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  border-color: #ffa41b;
  border-width: 1px;
  border-radius: 1.5em;
  flex-direction: column;
}
.principios-trigger {
  height: 3em;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: flex-start;
  align-items: center;
  margin-left: 25px;
  flex-direction: row;
  justify-content: space-between;
}
.principios-principio {
  color: #ffa41b;
  font-size: 1vw;
  font-style: normal;
  text-align: center;
  font-family: "Arial Black";
  font-weight: 700;
  margin-left: 0px;
  margin-right: 10px;
}
.principios-text {
  fill: #FFFFFF;
  color: #FFFFFF;
  font-size: 1vw;
  font-style: normal;
  font-family: "Arial Black";
  font-weight: 400;
  margin-right: 25px;
}
.principios-icons-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.principios-icon {
  fill: #FFA41B;
  width: 24px;
  height: 24px;
}
.principios-icon02 {
  fill: #FFA41B;
  width: 24px;
  height: 24px;
}
.principios-container03 {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: stretch;
  align-items: flex-start;
  margin-left: 25px;
  flex-direction: row;
  justify-content: space-between;
}
.principios-text01 {
  fill: #FFFFFF;
  color: #FFFFFF;
  font-style: normal;
  font-family: "Arial";
  font-weight: 400;
}
.principios-faq2 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  border-color: #ffa41b;
  border-width: 1px;
  border-radius: 1.5em;
  flex-direction: column;
}
.principios-trigger01 {
  height: 3em;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: flex-start;
  align-items: center;
  margin-left: 25px;
  flex-direction: row;
  justify-content: space-between;
}
.principios-principio01 {
  color: #ffa41b;
  font-size: 1vw;
  font-style: normal;
  text-align: center;
  font-family: "Arial Black";
  font-weight: 700;
  margin-left: 0px;
  margin-right: 10px;
}
.principios-text02 {
  fill: #FFFFFF;
  color: rgb(255, 255, 255);
  font-size: 1vw;
  font-style: normal;
  font-family: "Arial Black";
  font-weight: 400;
  margin-right: 25px;
}
.principios-icons-container01 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.principios-icon04 {
  fill: #FFA41B;
  width: 24px;
  height: 24px;
}
.principios-icon06 {
  fill: #FFA41B;
  width: 24px;
  height: 24px;
}
.principios-container06 {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: stretch;
  align-items: flex-start;
  margin-left: 25px;
  flex-direction: row;
  justify-content: space-between;
}
.principios-text03 {
  fill: #FFFFFF;
  color: #FFFFFF;
  font-style: normal;
  font-family: "Arial";
  font-weight: 400;
}
.principios-faq3 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  border-color: #ffa41b;
  border-width: 1px;
  border-radius: 1.5em;
  flex-direction: column;
}
.principios-trigger02 {
  height: 3em;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: flex-start;
  align-items: center;
  margin-left: 25px;
  flex-direction: row;
  justify-content: space-between;
}
.principios-principio02 {
  color: #ffa41b;
  font-size: 1vw;
  font-style: normal;
  text-align: center;
  font-family: "Arial Black";
  font-weight: 700;
  margin-left: 0px;
  margin-right: 10px;
}
.principios-text04 {
  fill: #FFFFFF;
  color: rgb(255, 255, 255);
  font-size: 1vw;
  font-style: normal;
  font-family: "Arial Black";
  font-weight: 400;
  margin-right: 25px;
}
.principios-icons-container02 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.principios-icon08 {
  fill: #FFA41B;
  width: 24px;
  height: 24px;
}
.principios-icon10 {
  fill: #FFA41B;
  width: 24px;
  height: 24px;
}
.principios-container09 {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: stretch;
  align-items: flex-start;
  margin-left: 25px;
  flex-direction: row;
  justify-content: space-between;
}
.principios-text05 {
  fill: #FFFFFF;
  color: #FFFFFF;
  font-style: normal;
  font-family: "Arial";
  font-weight: 400;
}
.principios-faq4 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  border-color: #ffa41b;
  border-width: 1px;
  border-radius: 1.5em;
  flex-direction: column;
}
.principios-trigger03 {
  height: 3em;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: flex-start;
  align-items: center;
  margin-left: 25px;
  flex-direction: row;
  justify-content: space-between;
}
.principios-principio03 {
  color: #ffa41b;
  font-size: 1vw;
  font-style: normal;
  text-align: center;
  font-family: "Arial Black";
  font-weight: 700;
  margin-left: 0px;
  margin-right: 10px;
}
.principios-text06 {
  fill: #FFFFFF;
  color: rgb(255, 255, 255);
  font-size: 1vw;
  font-style: normal;
  font-family: "Arial Black";
  font-weight: 400;
  margin-right: 25px;
}
.principios-icons-container03 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.principios-icon12 {
  fill: #FFA41B;
  width: 24px;
  height: 24px;
}
.principios-icon14 {
  fill: #FFA41B;
  width: 24px;
  height: 24px;
}
.principios-container12 {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: stretch;
  align-items: flex-start;
  margin-left: 25px;
  flex-direction: row;
  justify-content: space-between;
}
.principios-text07 {
  fill: #FFFFFF;
  color: #FFFFFF;
  font-style: normal;
  font-family: "Arial";
  font-weight: 400;
}
.principios-faq5 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  border-color: #ffa41b;
  border-width: 1px;
  border-radius: 1.5em;
  flex-direction: column;
}
.principios-trigger04 {
  height: 3em;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: flex-start;
  align-items: center;
  margin-left: 25px;
  flex-direction: row;
  justify-content: space-between;
}
.principios-principio04 {
  color: #ffa41b;
  font-size: 1vw;
  font-style: normal;
  text-align: center;
  font-family: "Arial Black";
  font-weight: 700;
  margin-left: 0px;
  margin-right: 10px;
}
.principios-text08 {
  fill: #FFFFFF;
  color: rgb(255, 255, 255);
  font-size: 1vw;
  font-style: normal;
  font-family: "Arial Black";
  font-weight: 400;
  margin-right: 25px;
}
.principios-icons-container04 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.principios-icon16 {
  fill: #FFA41B;
  width: 24px;
  height: 24px;
}
.principios-icon18 {
  fill: #FFA41B;
  width: 24px;
  height: 24px;
}
.principios-container15 {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: stretch;
  align-items: flex-start;
  margin-left: 25px;
  flex-direction: row;
  justify-content: space-between;
}
.principios-text09 {
  fill: #FFFFFF;
  color: #FFFFFF;
  font-style: normal;
  font-family: "Arial";
  font-weight: 400;
}
.principios-faq6 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  border-color: #ffa41b;
  border-width: 1px;
  border-radius: 1.5em;
  flex-direction: column;
}
.principios-trigger05 {
  height: 3em;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: flex-start;
  align-items: center;
  margin-left: 25px;
  flex-direction: row;
  justify-content: space-between;
}
.principios-principio05 {
  color: #ffa41b;
  font-size: 1vw;
  font-style: normal;
  text-align: center;
  font-family: "Arial Black";
  font-weight: 700;
  margin-left: 0px;
  margin-right: 10px;
}
.principios-text10 {
  fill: #FFFFFF;
  color: rgb(255, 255, 255);
  font-size: 1vw;
  font-style: normal;
  font-family: "Arial Black";
  font-weight: 400;
  margin-right: 25px;
}
.principios-icons-container05 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.principios-icon20 {
  fill: #FFA41B;
  width: 24px;
  height: 24px;
}
.principios-icon22 {
  fill: #FFA41B;
  width: 24px;
  height: 24px;
}
.principios-container18 {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: stretch;
  align-items: flex-start;
  margin-left: 25px;
  flex-direction: row;
  justify-content: space-between;
}
.principios-text11 {
  fill: #FFFFFF;
  color: #FFFFFF;
  font-style: normal;
  font-family: "Arial";
  font-weight: 400;
}
.principios-faq7 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  border-color: #ffa41b;
  border-width: 1px;
  border-radius: 1.5em;
  flex-direction: column;
}
.principios-trigger06 {
  height: 3em;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: flex-start;
  align-items: center;
  margin-left: 25px;
  flex-direction: row;
  justify-content: space-between;
}
.principios-principio06 {
  color: #ffa41b;
  font-size: 1vw;
  font-style: normal;
  text-align: center;
  font-family: "Arial Black";
  font-weight: 700;
  margin-left: 0px;
  margin-right: 10px;
}
.principios-text12 {
  fill: #FFFFFF;
  color: rgb(255, 255, 255);
  font-size: 1vw;
  font-style: normal;
  font-family: "Arial Black";
  font-weight: 400;
  margin-right: 25px;
}
.principios-icons-container06 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.principios-icon24 {
  fill: #FFA41B;
  width: 24px;
  height: 24px;
}
.principios-icon26 {
  fill: #FFA41B;
  width: 24px;
  height: 24px;
}
.principios-container21 {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: stretch;
  align-items: flex-start;
  margin-left: 25px;
  flex-direction: row;
  justify-content: space-between;
}
.principios-text13 {
  fill: #FFFFFF;
  color: #FFFFFF;
  font-style: normal;
  font-family: "Arial";
  font-weight: 400;
}
.principios-faq81 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  border-color: #ffa41b;
  border-width: 1px;
  border-radius: 1.5em;
  flex-direction: column;
}
.principios-trigger07 {
  height: 3em;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: flex-start;
  align-items: center;
  margin-left: 25px;
  flex-direction: row;
  justify-content: space-between;
}
.principios-principio07 {
  color: #ffa41b;
  font-size: 1vw;
  font-style: normal;
  text-align: center;
  font-family: "Arial Black";
  font-weight: 700;
  margin-left: 0px;
  margin-right: 10px;
}
.principios-text14 {
  fill: #FFFFFF;
  color: rgb(255, 255, 255);
  font-size: 1vw;
  font-style: normal;
  font-family: "Arial Black";
  font-weight: 400;
  margin-right: 25px;
}
.principios-icons-container07 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.principios-icon28 {
  fill: #FFA41B;
  width: 24px;
  height: 24px;
}
.principios-icon30 {
  fill: #FFA41B;
  width: 24px;
  height: 24px;
}
.principios-container24 {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: stretch;
  align-items: flex-start;
  margin-left: 25px;
  flex-direction: row;
  justify-content: space-between;
}
.principios-text15 {
  fill: #FFFFFF;
  color: #FFFFFF;
  font-style: normal;
  font-family: "Arial";
  font-weight: 400;
}
.principios-faq9 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  border-color: #ffa41b;
  border-width: 1px;
  border-radius: 1.5em;
  flex-direction: column;
}
.principios-trigger08 {
  height: 3em;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: flex-start;
  align-items: center;
  margin-left: 25px;
  flex-direction: row;
  justify-content: space-between;
}
.principios-principio08 {
  color: #ffa41b;
  font-size: 1vw;
  font-style: normal;
  text-align: center;
  font-family: "Arial Black";
  font-weight: 700;
  margin-left: 0px;
  margin-right: 10px;
}
.principios-text16 {
  fill: #FFFFFF;
  color: rgb(255, 255, 255);
  font-size: 1vw;
  font-style: normal;
  font-family: "Arial Black";
  font-weight: 400;
  margin-right: 25px;
}
.principios-icons-container08 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.principios-icon32 {
  fill: #FFA41B;
  width: 24px;
  height: 24px;
}
.principios-icon34 {
  fill: #FFA41B;
  width: 24px;
  height: 24px;
}
.principios-container27 {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: stretch;
  align-items: flex-start;
  margin-left: 25px;
  flex-direction: row;
  justify-content: space-between;
}
.principios-text17 {
  fill: #FFFFFF;
  color: #FFFFFF;
  font-style: normal;
  font-family: "Arial";
  font-weight: 400;
}
.principios-faq10 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  border-color: #ffa41b;
  border-width: 1px;
  border-radius: 1.5em;
  flex-direction: column;
}
.principios-trigger09 {
  height: 3em;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: flex-start;
  align-items: center;
  margin-left: 25px;
  flex-direction: row;
  justify-content: space-between;
}
.principios-principio09 {
  color: #ffa41b;
  font-size: 1vw;
  font-style: normal;
  text-align: center;
  font-family: "Arial Black";
  font-weight: 700;
  margin-left: 0px;
  margin-right: 10px;
}
.principios-text18 {
  fill: #FFFFFF;
  color: rgb(255, 255, 255);
  font-size: 1vw;
  font-style: normal;
  font-family: "Arial Black";
  font-weight: 400;
  margin-right: 25px;
}
.principios-icons-container09 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.principios-icon36 {
  fill: #FFA41B;
  width: 24px;
  height: 24px;
}
.principios-icon38 {
  fill: #FFA41B;
  width: 24px;
  height: 24px;
}
.principios-container30 {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: stretch;
  align-items: flex-start;
  margin-left: 25px;
  flex-direction: row;
  justify-content: space-between;
}
.principios-text19 {
  fill: #FFFFFF;
  color: #FFFFFF;
  font-style: normal;
  font-family: "Arial";
  font-weight: 400;
}
.principios-root-class-name {
  width: 140%;
  align-self: center;
}
@media(max-width: 991px) {
  .principios-container {
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .principios-max-width {
    gap: var(--dl-space-space-oneandhalfunits);
  }
}
